
.elim3List {
    list-style-type: none;
    columns: 3;
    text-align: center;
    column-gap: 0px;
    padding: 70px;
}

/* .paper3 {
    margin: 20px 200px 0px 200px;
    padding: 0px 20px 0px 0px;
} */