.inputs {
    text-align: center; 
    padding: 40px; 
}

.button {
    float: right; 
    padding-top: 10px; 
}

.examples ul li {
    text-align: center; 
    list-style-type: none;
}

.background {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
}

.paper {
    margin: 80px 300px 80px 300px; 
}

