
.select {
    margin: 80px 300px 80px 300px; 
}

.heading {
   text-align: center; 
}

.input {
    text-align: center; 
    padding-bottom: 25px; 
}

.radio {
    padding: 15px; 
}

.background {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
}