.input {
    text-align: center; 
    padding-bottom: 25px; 
}

.radio {
    padding: 15px; 
}

.backgroundBelief2 {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
    height: 300px;
}