/* .instOrder {
    text-align: center;
} */

.fiveVals {
    list-style-type: none;
    margin: auto;
}

.listVals {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px;
}

.listVals:hover {
    font-size: 34px;
    font-weight: 800;
}

.button {
    float: right; 
    padding-top: 10px; 
}

.background {
    padding: 0px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
    height: 500px;
}