.instOrder {
    text-align: center;
}

.fiveVals {
    list-style-type: none;
    padding: 20px;
}

.paperDrag {
    width: 400px;
}

.listVals {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
}

.button {
    float: right; 
    padding-top: 20px; 
}

.background {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
}