.grid {
    display: grid;
    grid-column-gap: 20px; 
    grid-template-columns: auto auto auto; 
    padding: 10px; 
    text-align: center; 
}

.grid2{
    display: grid; 
    align-content: center; 
}

.grid3 {
    display: grid;
    grid-column-gap: 40px; 
    padding: 20px; 
}

/* .core {
    grid-column-start: 2;
    grid-column-end: 5;
    align-items: center;
    justify-self: start; 
    padding: 200px; 
} */

.corePercents .core{
    grid-column-start: 2;
    grid-column-end: 5;
    align-items: center;
    justify-self: start; 
    /* padding: 200px;  */
}

.violators {
    grid-column-start: 5;
    grid-column-end: 8;
    align-items: center;
}

.title{
   text-align: center; 
    padding: 20px; 
}

ul li {
    list-style-type: none;
}

/* .corePercents {
    grid-column-start: 5;
    align-items: center; 
} */

.violatorPercents {
    grid-column-start: 5;
    align-items: center;
}

.background {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
}

.button {
    float: right; 
    padding-top: 10px; 
}