.instructions {
    padding: 50px 100px 50px 100px; 
    text-align: center; 
}

.paper {
    margin: 30px 150px 0px 150px;
    padding: 0px;
}

.button {
    float: right; 
    padding-top: 10px; 
}

.giph {
    pointer-events: none;
    text-align: center;
}

iframe {
    width: 80%;
    height: 600px;
    overflow: auto;
    object-fit: cover;
    margin: auto;
}