
.grid {
    display: grid; 
}

.textInst {
    text-align: center;  
    width: 380px; 
    height: 30px;
    margin: 40px; 
    padding: 40px; 
}

.textInst {
    align-content: center;
    /* width: 550px;  */
}

.nextBtn1 {
    float: right;
}