.violOrder {
    text-align: center; 
}

.button {
    float: right; 
    padding-top: 10px; 
}

.background {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
}