
.statusBar {
    align-content: center;
}

.space {
    padding: 50px; 
}

.text{
    padding: 40px 100px 40px 100px; 
    text-align: center; 

}

.button {
    float: right; 
    padding-top: 10px; 
}