.inputs {
    text-align: center; 
    padding: 40px; 
}

.button {
    float: right; 
    padding-top: 10px; 
}

.examples ul li {
    text-align: center; 
    list-style-type: none;
}

/* .paper {
    margin: 80px 300px 80px 300px; 
} */

