.inputs {
    text-align: center; 
    padding: 40px; 
}

.examples ul li {
    text-align: center; 
    list-style-type: none;
}


.backgroundBelief1 {
    padding: 10px;
    background-image: url("/braintree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-blend-mode: lighten;
    object-fit: cover;
    text-align: center;
    margin: 0px;
    height: 400px;
}
