.nav-title {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
    text-shadow: 1px 1px #8faca8;
    line-height: 85%;
    vertical-align: baseline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.nav {
  overflow: hidden;
  background-color: #003466;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #003466;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  /* background-color: #567dd2; */
  text-decoration: underline;
}

.nav-right {
  float: right;
}

.logo {
  height: 80px;
  width: 70px;
  margin: 0px;
  padding: 0px;
}